
<center>
<h1>Sign up as a new owner below:</h1>

<%if flash[:messages]%>
   <p>Requirements:</p>
    <% flash[:messages].each do |message| %>
        <span><%= message %></span>
    <% end %>
<%end%>

<%= form_for @owner do |f| %>
  <h3><%= f.label :name %></h3>
  <%= f.text_field :name %>
  <h3><%= f.label :username %></h3>
  <%= f.text_field :username %>
  <h3><%= f.label :password %></h3>
  <%= f.password_field :password %>
  <h3><%= f.submit "Create new owner", :class=>'button'%></h3>
<% end %>
</center>
