<h1>Create a new owner below:</h1>

<%if flash[:messages]%>
    <h2>Requirements:</h2>
    <ul>
    <% flash[:messages].each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
<%end%>

<%= form_for @owner do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create new owner" %>
<% end %>