<center>

<img src= "<%= @dog.img_url %>">

<p><h1><%= @dog.name %></h1></p>
<p>Breed: <%= @dog.breed %></p>
<p>Gender: <%= @dog.gender %></p>
<p>Age: <%= @dog.age %></p>
<p>Owners: 
<% @owners.each do |owner| %>
    <li>
    <%= owner.name %>
    <% @adoptions.each do |adopt| %>
        <% if adopt.owner == owner %>
            <%= button_to 'adoption information', adoption_path(adopt), method: :get%>
        <% end %>
    <% end %>
    </li>
<% end %>
</p>



</center>