
<body class="petsindex">
<div class="custom_div">
<center>


<h1>See all of our pets available for adoption below:</h1>
<br>

  <h3>Number of pets available for adoption:
      <strong><%= @pets.count %></strong></h3>

<%= form_tag(pets_path, method: :get) do %>
<h4><%= label_tag "Filter:" %>
<%= collection_select :owners, :pet_id, @ownership_arr, :to_s, :to_s, prompt: "See all pets"%>
<%= submit_tag :submit %> </h4>
<% end %>

  <% @pets.each do |pet| %>
    <p><%= link_to pet.name, pet_path(pet) %></p>
  <% end %>

  <%= button_to "Adopt", adoptions_path(), class:"button", method: :get %>
    <br><br>
  <%= button_to "Return to Home Page", owner_path(@owner), class:"button_two", method: :get %>

</center>
</div>
</body>
