
<center>

<img src= "<%= @pet.img_url %>">


<p><h1><%= @pet.name %></h1></p>
<%= button_to "I'm interested in adopting!", adoptions_path(), class:"button", method: :get %>
<p>Species: <%= @pet.species %></p>
<p>Gender: <%= @pet.gender %></p>
<p>Age: <%= @pet.age %></p>
<p>Owners: <br>
<% @owners.each do |owner| %>
    <%= owner.name %> -
    <% @adoptions.each do |adopt| %>
        <% if adopt.owner == owner %>
            <%= link_to 'Adoption Information', adoption_path(adopt)%><br><br>
        <% end %>
    <% end %>
<% end %>

</p>


<p><%= link_to "See list of dogs", dog_pet_path %> </p>
<p><%= link_to "See list of cats", cat_pet_path %> </p>

