<body class="adopt_dog" >
<div class="pages_div">
  <center>  
    <h1>Create A New Dog Adoption</h1>

    <%if flash[:messages]%>
        <h3>Requirements:</h3>
        <% flash[:messages].each do |message| %>
            <p><%= message %></p>
        <% end %>
    <%end%>

    <%= form_tag '/adoptions/adopt_dog' do %>
      <%= collection_select :adoption, :pet_id, @dogs, :id, :name, prompt: true %><br><br>
      <%= submit_tag "Create a new adoption!", data:{confirm: "Are you sure you want to adopt this dog?"}, class:"button" %>
    <% end %>

    <br><br>

    <h4>Not sure which one to get?</h4>
    <%= link_to "See all dogs", dog_pet_path() %>
  </center>
</div>
</body>
